#usersTable_wrapper .table-head-container {
    display: flex;
    justify-content: space-between;
}

#usersTable_wrapper .table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#usersTable {
    min-width: 600px;
}

#usersTable_wrapper .table-head-container .search-container label {
    display: flex;
    align-items: center;
}

#usersTable_wrapper .table-head-container .search-container i {
    font-size: 20px;
}

#usersTable_wrapper .pagination-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #usersTable_wrapper .table-container {
        overflow-x: auto;
    }
}

@media (max-width: 465px) {
    #usersTable_wrapper .table-head-container .search-container input {
        width: 150px;
    }
}

@media (max-width: 375px) {
    #usersTable_wrapper .table-head-container .search-container input {
        width: 100px;
    }
}